*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
header{
    background-color: #ff6900;
    justify-content: space-around;
    padding: 0.9rem;
    align-content: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
}
ul{
    list-style: none;
}
.main-logo img{
    height: 30px;
    
}
li,
i{
    color: white;
    margin-left: 0.5rem;
}
div.main-box{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    padding: 4rem 6.5rem 4rem;
    
}

article.product{
    width: calc(100% / 3 );
    object-fit: contain;
    margin-bottom: 2.5rem;
    position: relative
}

article.product > img {
    height: 600px
}

div.discount{
    background-color: red;
    width: fit-content;
    color: white;
    position: absolute;
    bottom: 15%;
    padding: 0.5rem;
}

div.green-choice{
    background-color: #008000;
    width: fit-content;
    color: white;
    bottom: 15%;
    left: 13%;
    padding: 0.5rem;
    position: absolute;
}
div.favorite{
    position:absolute;
    top: 2%;
    right: 6%;
    font-size: 2.5rem;
    background-color: white;
    padding: 0.7rem;
}
#last-one{
    left: 0%;
}








div.footer-bar{
    display: flex;
    flex-direction: row;
    background-color: #1a1a1a;
    color: white;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
    
}
section.infos{
    margin-right: 18rem;
}
footer li, 
i{
    margin-right: 0.5rem;
    margin-top: 1rem;
}